{% extends 'main/base.html' %}

{% block title %}
About page
{% endblock %}

{% block content %}

      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        From the Firehose
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title">Sample blog post</h2>
        <p class="blog-post-meta">April 1, 2022 by <a href="#">Andrew</a></p>
      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled">Newer</a>
      </nav>
      </article>

{% endblock %}